<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href="{% static 'css/bootstrap.min.css' %}" type='text/css' media='all'/>
    <link rel='stylesheet' href="{% static 'css/animate.min.css' %}" type='text/css' media='all'/>
    <link rel='stylesheet' href="{% static 'style.css' %}" type='text/css' media='all'/>
    <link rel='stylesheet'
          href='https://fonts.googleapis.com/css?family=Open+Sans%3A300italic%2C400italic%2C700italic%2C300%2C400%2C700%2C800%7CMontserrat%3A300italic%2C400italic%2C700italic%2C300%2C400%2C700%7CDosis%3A400%2C700&#038;ver=4.5'
          type='text/css' media='all'/>
    <link rel='stylesheet' href="{% static 'icons/elegantline/style.css' %}" type='text/css' media='all'/>
    <link rel='stylesheet' href="{% static 'css/font-awesome.min.css' %}" type='text/css' media='all'/>
    <link rel='stylesheet' href="{% static 'assets/css/flexslider.css' %}" type='text/css' media='all'/>
    <title>Parqueaderos Copropiedad</title>
</head>
<body class="frontpage">

<section id="home"
         style="padding:160px 0;background-image: url(https://unsplash.it/1324/683?random=0); background-position: center; background-repeat: no-repeat;background-size: cover;background-attachment:fixed;">
    <div class="container">
        <div class="textwidget">
            <h1 class="toptitle">Login<br/><i class="fa fa-star roundicon"></i></h1>
            <div class="done">
                <div class="alert alert-errors">
                    {% if form.errors %}
                    <p>Your username and password didn't match. Please try again.</p>
                    {% endif %}

                    {% if next %}
                    {% if user.is_authenticated %}
                    <p>Your account doesn't have access to this page. To proceed,
                        please login with an account that has access.</p>
                    {% else %}
                    <p>Please login to see this page.</p>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
            <div class="contactstyle topform">
                <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}

                    <div class="Form">
                        <td>{{ form.username.label_tag }}</td>
                        <td>{{ form.username }}</td>
                        <td>{{ form.password.label_tag }}</td>
                        <td>{{ form.password }}</td>
                        <input type="submit" class="clearfix btn" value="Login"/>
                        <input type="hidden" name="next" value="{{ next }}"/>
                        {# Assumes you setup the password_reset view in your URLconf #}
                        <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
</body>
</html>