*.bak
*.dpf
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.war
*.ear
*.sar
*.class
.cvsignore
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbproject/    
build/web/WEB-INF/classes/logic/
build/web/WEB-INF/classes/servlet/
v2/.idea/
v2/venv/
v2/parking_lot/venv/
.idea/
v2/parking_lot/parking_lot/documents/