*.bak
*.dpf
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.war
*.ear
*.sar
*.class
.cvsignore
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbproject/    
build/web/WEB-INF/classes/logic/
build/web/WEB-INF/classes/servlet/
Version-2.0.0/.idea/
Version-2.0.0/venv/
Version-2.0.0/parking_lot/venv/
.idea/