#app{
    padding-right: 0em;
}
body{
    background: url(images/fondo2.png);
    background-repeat:no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
}
.clogin{
    width: 450px;    
    box-shadow: none;
    border: 1px solid #dcdada;
    margin: auto;    
}
.box {
    max-width: 1367px;
    margin-bottom: 20px;
    margin-top: 20px;
    box-shadow: none;
    background: url(images/opacity-30.png);
    border-radius: 10px !important;
    color: #000000;
    font-size: .875rem;    
}
.content-login{    
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
} 
.navbar{
    background: rgba(0, 0, 0, 1);
    opacity: 80%;
    height: 100%;
    width: 100%;
}
.box.clogin.content-signup h1{
    font-size: 30px;
}
.box.clogin.content-signup{
    color: white;
}
.label{
    color: white;
}

.button.is-colorcustom{
    background: black;
    border-color: transparent;
    border-radius: 10px;
    display: flex;
    width: 100%;
    font-size: 1.25rem;
    color:white;
}
.button.is-colorcustom:hover{
    background: rgb(99, 99, 99);
}
.subtitle{
    color:white !important;
}
