{% extends "base_template.html" %}

{% block sidebar %}
<p class="menu-label">Configuración</p>
<ul class="menu-list">
{% if not configured %}
<li><a href="{% url 'setConfig' %}">Añadir</a></li>
{% else %}
<li><a href="{% url 'modConfig' pk=id_configuration %}">Modificar</a></li>
<li><a href="{% url 'delConfig' pk=id_configuration %}">Eliminar</a></li>
{% endif %}
</ul>

<p class="menu-label">Apartamentos</p>
<ul class="menu-list">
<li><a href="{% url 'addApto' %}">Añadir</a></li>
<li><a href="{% url 'apartments' %}">Modificar/Eliminar</a></li>
</ul>

<p class="menu-label">Residentes</p>
<ul class="menu-list">
<li><a href="{% url 'addInhabitant' %}">Añadir</a></li>
<li><a href="{% url 'inhabitants' %}">Modificar/Eliminar</a></li>
</ul>

<p class="menu-label">Parqueaderos</p>
<ul class="menu-list">
<li><a href="{% url 'addParkingPlace' %}">Añadir</a></li>
<li><a href="{% url 'parkingPlaces' %}">Modificar/Eliminar</a></li>
<li><a href="{% url 'setParkingPlace' %}">Asignar</a></li>
<li><a href="{% url 'removeParkingPlace' %}">Quitar</a></li>
</ul>

<p class="menu-label">Vehículos</p>
<ul class="menu-list">
<li><a href="{% url 'addInhabitantVehicle' %}">Añadir</a></li>
<li><a href="{% url 'vehicles' %}">Modificar/Eliminar</a></li>
</ul>

<p class="menu-label">Pagos</p>
<ul class="menu-list">
<li><a href="{% url 'addIPayment' %}">Individual</a></li>
<li><a href="{% url 'addMPayment' %}">Multiple</a></li>
</ul>

<p class="menu-label">Guardia de seguridad</p>
<ul class="menu-list">
<li><a href="{% url 'addSecurityGuard' %}">Crear</a></li>
<li><a href="{% url 'securityGuards' %}">Eliminar</a></li>
</ul>

<p class="menu-label">Logout</p>
<ul class="menu-list">
<li><a href="{% url 'logout'%}">Logout</a></li>
</ul>
{% endblock %}