{% extends "layouts/base.html" %}

{% block title %} Entrada/Salida de Vehículo {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
    <div class="col-md-10">
        <div class="card card-plain">
            <form role="form" action="" method="post">
                {% csrf_token %}
                <div class="card-header">
                    <h4 class="title">Entrada/Salida de vehículo</h4>
                </div>
                <div class="card-body">
                    <div class="table">
                        <table  class="table tablesorter " id="">
                            {{ form.as_table }}
                        </table>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" name="Entrada/Salida" class="btn btn-fill btn-primary">Registrar entrada/salida</button>
                    <a href="{% url 'securityGuardHome' %}" class="text-primary">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
