{% extends "layouts/base.html" %}

{% block title %} Guardias de seguridad {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
    <div class="col-md-10">
        <div class="card card-plain">
            <div class="card  card-header">
                <h3 class="title">Guardias de seguridad</h3>
            </div>
            <div class="card-body">
                {% if securityguard_list %}
                    <ul>
                        {% for securityguard in securityguard_list %}
                            <li>
                                <a href="{% url 'delSecurityGuard' pk=securityguard.pk %}">
                                    <p>{{ securityguard.user.last_name }}, {{ securityguard.user.first_name }} </p>
                                </a>
                            </li>
                        {% endfor %}

                    </ul>
                {% else %}
                    <p>No existen guardias de seguridad registrados en la copropiedad.</p>
                {% endif %}
            </div>
            <div class="card-footer">
                <a href="{% url 'adminHome' %}" class="text-primary">Volver</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}