{% extends "layouts/base.html" %}

{% block title %} Añadir guardia de seguridad {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
    <div class="col-md-10">
        <div class="card card-plain">
            <div class="card-header">
                <div class="alert alert-success">
                    {% if action == 'start' %}
                        <h3 class="title">Turno iniciado con: ${{money}} pesos</h3>
                    {% else %}
                        <h3 class="title">Turno finalizado con: ${{money}} pesos</h3>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}