{% extends "layouts/base.html" %}

{% block title %} Error en turno {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="row">
    <div class="col-md-10">
        <div class="card card-plain">
            <div class="card-header">
                <h3 class="title">Hay un error con el turno del guardia de seguridad</h3>
            </div>
            <div class="card-body">
                <div class="alert alert-danger">
                    {% if action == 'start' %}
                    <h3 class="title">El turno ya ha sido iniciado. Por favor termine el turno anterior.</h3>
                    {% elif action == 'end' %}
                    <h3 class="title">El turno ya ha sido finalizado. Por favor inicie un nuevo turno.</h3>
                    {% else %}
                    <h3 class="title">No existe un turno iniciado.</h3>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}