{% extends "layouts/base.html" %}

{% block title %} Entrada/Salida de Vehículo {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
    <div class="col-md-10">
        <div class="card card-plain">
            <div class="card-header">
                <h1>Selecciona un vehículo</h1>
            </div>
            <div class="card-body">
                {% if inhabitant_vehicles %}
                <ul>
                    {% for vehicle in inhabitant_vehicles %}
                    <li>
                        {% if action == 'entry' %}
                        <a href="{% url 'entryInhabitantVehicle' pk=vehicle.id %}">
                           <p>
                               Propietario: {{vehicle.owner}} Vehículo: {{ vehicle.brand }} {{ vehicle.model }}
                            {{ vehicle.color }}
                           </p>
                        </a>
                        {% else %}
                        <a href="{% url 'departureInhabitantVehicle' parking_place_id=vehicle.parking_place.id %}">
                            <p>
                                Propietario: {{vehicle.owner}} Vehículo: {{ vehicle.brand }} {{ vehicle.model }}
                                {{ vehicle.color }}
                            </p>
                        </a>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
                {% elif visitor_vehicles %}
                <ul>
                    {% for vehicle in visitor_vehicles %}
                    <li>
                        {% if action == 'entry' %}
                        <a href="{% url 'entryVisitorVehicle' pk=vehicle.id %}">
                            <p>
                                Propietario: {{vehicle.owner}} Vehículo: {{ vehicle.brand }} {{ vehicle.model }}
                                {{ vehicle.color }}
                            </p>
                        </a>
                        {% else %}
                        <a href="{% url 'departureVisitorVehicle' pk=vehicle.id %}">
                            <p>
                                Propietario:  {{vehicle.owner}} Vehículo: {{ vehicle.brand }} {{ vehicle.model }}
                                {{ vehicle.color }}</p>
                        </a>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
                {% else %}
                <p>No existen vehículos asociados al parqueadero.</p>
                {% endif %}
            </div>
            <div class="card-footer">
                <a href="{% url 'securityGuardHome' %}" class="text-primary">Volver</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}