{% extends "securityGuardIndex.html" %}

{% block content %}
<div class="box">
    {% if action == 'entry' %}
    <div class="notification is-primary">The entry of the vehicle has been successful</div>
    {% elif action == 'departure' %}
    <div class="notification is-primary">The departure of the vehicle has been successful</div>
    {% elif action == 'departureVisitor' %}
    <div class="notification is-primary">The total to pay is: ${{money}} pesos. Thanks for your visit</div>
    {% elif action == 'in use' %}
    <div class="notification is-danger">The parking lot is already in use</div>
    {% elif action == 'not in use' %}
    <div class="notification is-danger">The parking lot does not register being in use</div>
    {% elif action == 'visitor not registered' %}
    <div class="notification is-danger">The visitor is not yet registered </div>
    {% elif action == 'not entry' %}
    <div class="notification is-danger">The vehicle does not register entry </div>
    {% elif action == 'soat is due' %}
    <div class="notification is-danger">The vehicle is not allowed entry, it has expired soat </div>
    {% elif action == 'not up to date' %}
    <div class="notification is-danger">The owner of the vehicle is not up to date with the parking payment </div>
    {% elif action == 'parking not registered' %}
    <div class="notification is-danger">A parking place with that barcode is not registered. Please enter a valid barcode </div>
    {% else %}
    <div class="notification is-danger">There was an unexpected error. Please try again </div>
    {% endif %}
</div>
{% endblock %}