{% extends "base_template.html" %}

{% block content %}
<aside class="menu">
    <ul class="menu-list">
        <li><a href="{% url 'securityGuardHome' %}">Volver</a></li>
    </ul>
</aside>

<div class="box">
    {% if action == 'start' %}
    <div class="notification is-danger"> The shift has already started. Please finish the previous shift</div>
    {% elif action == 'end' %}
    <div class="notification is-danger">The shift has already ended. Please start a new shift</div>
    {% else %}
    <div class="notification is-info">There is no shift started</div>
    {% endif %}
</div>
{% endblock %}