{% extends "securityGuardIndex.html" %}

{% block content %}
<h1>Select a vehicle</h1>

{% if inhabitant_vehicles %}
<ul>
    {% for vehicle in inhabitant_vehicles %}
    <li>
        {% if action == 'entry' %}
        <a href="{% url 'entryInhabitantVehicle' pk=vehicle.id %}">{{ vehicle.brand }} {{ vehicle.model }}
            {{ vehicle.color }}</a> ({{vehicle.owner}})
        {% else %}
        <a href="{% url 'departureInhabitantVehicle' parking_place_id=vehicle.parking_place.id %}">{{ vehicle.brand }} {{ vehicle.model }}
            {{ vehicle.color }}</a> ({{vehicle.owner}})
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% elif visitor_vehicles %}
<ul>
    {% for vehicle in visitor_vehicles %}
    <li>
        {% if action == 'entry' %}
        <a href="{% url 'entryVisitorVehicle' pk=vehicle.id %}">{{ vehicle.brand }} {{ vehicle.model }}
            {{ vehicle.color }}</a> ({{vehicle.owner}})
        {% else %}
        <a href="{% url 'departureVisitorVehicle' pk=vehicle.id %}">{{ vehicle.brand }} {{ vehicle.model }}
            {{ vehicle.color }}</a> ({{vehicle.owner}})
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% else %}
<p>There are no vehicles associated with the parking lot.</p>
{% endif %}
{% endblock %}