{% extends "securityGuardIndex.html" %}

{% block content %}
<div class="box">
    <div class="content">
        <h2>Visitor Vehicles List</h2>

        {% if visitorvehicle_list %}
        <ul>
            {% for visitorvehicle in visitorvehicle_list %}
            <li>
                {% if action == 'entry' %}
                <a href="{% url 'barcodeVEntry' pk=visitorvehicle.id %}">{{ visitorvehicle.brand }} {{ visitorvehicle.model }}
                    {{ visitorvehicle.color }}</a> Plate: ({{visitorvehicle.plate}})
                {% else %}
                <a href="{% url 'departureVisitorVehicle' pk=visitorvehicle.id %}">{{ visitorvehicle.brand }} {{ visitorvehicle.model }}
                    {{ visitorvehicle.color }}</a> Plate: ({{visitorvehicle.plate}})
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>There are no vehicles for the visitor.</p>
        {% endif %}
        <div class="field">
            <div class="control">
                <a href="{% url 'createVisitorVehicle' pk=pk %}"><button class="button is-link">Add new vehicle</button></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}