{% extends "adminIndex.html" %}
{% block content %}

<form class="box" action="" method="post">{% csrf_token %}
    {% if form.email.errors %} {{ form.email.errors }} {% endif %}

    <div class="field">
        <label class="label">Email to send a restore password link</label>
        <div class="control">
            {{ form.email }}
        </div>
    </div>

    <div class="field">
        <div class="control">
            <button class="button is-link"> Reset password</button>
        </div>
    </div>
</form>

{% endblock %}