{% extends "base_template.html" %} {% block sidebar %}
<br />

<br />
<div class="padding-L-R-20">
    
  <div class="container card has-text-light v-align-middle">
    <div class="card-header-title is-centered">
        <h1 class="title text-center has-text-info">
            SESION DE GUARDA: {{ user.first_name }} {{ user.last_name }} ( {{user.get_username}} )
          </h1>

    </div>
    <div class="card-content">
    
        <h2
          class="height-40 align-content-space-evenly has-text-info has-text-centered"
        >
          Opciones
        </h2>
        <ul class="menu-list">
          {% if not shift_started %}
          <li>
            <a class="button is-primary" href="{% url 'startShift' %}">Iniciar Turno</a>
          </li>
          {% else %}
          <li>
            <a class="button is-danger" href="{% url 'endShift' %}">Finalizar Turno</a>
          </li>
        </ul>
    </div>
  </div>
</div>

<p class="menu-label">Residentes</p>
<ul class="menu-list">
  <li><a href="{% url 'barcodeIEntry' %}">Registrar entrada</a></li>
  <li><a href="{% url 'barcodeIDeparture' %}">Registrar salida</a></li>
</ul>

<p class="menu-label">Visitantes</p>
<ul class="menu-list">
  <li><a href="{% url 'visitorEntry' %}">Registrar entrada</a></li>
  <li><a href="{% url 'visitorDeparture' %}">Registrar salida</a></li>
</ul>
{% endif %} {% if not shift_started %}
<br>
<a class="button is-warning" href="{% url 'logout'%}">Desconectarse</a>

{% endif %} {% endblock %}
