{% extends "layouts/base.html" %}

{% block title %} Apartamentos {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
    <div class="col-md-10">
        <div class="card card-plain">
            <div class="card  card-header">
                <h4 class="title">Apartamentos</h4>
            </div>
            <div class="card-body">
                {% if apartment_list %}
                <ul class="">
                    {% for apartment in apartment_list %}
                    <li class="">
                        <a href="{{ apartment.get_absolute_url }}">
                            <p>Apartamento: {{ apartment.apartment }} (Bloque: {{apartment.block}})</p>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                {% else %}
                <p>No hay apartamentos registrados en la copropiedad.</p>
                {% endif %}
            </div>
            <div class="card-footer">
                <a href="{% url 'adminHome' %}" class="text-primary">Volver</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}