{% extends "layouts/base.html" %}

{% block title %} Añadir/Modificar Configuración {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
    <div class="col-md-10">
        <div class="card  card-plain">
            <form role="form" method="post" action="">
                {% csrf_token %}
                <div class="card-header">
                    <h4 class="title">Añadir/Modificar Configuración</h4>
                </div>
                <div class="card-body">
                    <div class="table">
                        <table class="table tablesorter " id="">
                            {{ form.as_table }}
                        </table>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" name="Guardar" class="btn btn-fill btn-primary">Guardar</button>
                    <a href="{% url 'adminHome' %}" class="text-primary">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
