{% extends "layouts/base.html" %}

{% block title %} Eliminar Residente/Habitante {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
    <div class="col-md-10">
        <div class="card card-plain">
            <form role="form" action="" method="POST">
              {% csrf_token %}
                <div class="card-header">
                    <h4 class="title">
                        Eliminar Residente/Habitante
                    </h4>
                    <h5 class="card-category">
                        ¿Estás segur@ de que quieres eliminar el residente/habitante?
                    </h5>
                </div>
                <div class="card-footer">
                    <button type="submit" name="Eliminar" class="btn btn-fill btn-primary">Si, Eliminar</button>
                    <a href="{% url 'adminHome' %}" class="text-primary">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}