{% extends "layouts/base.html" %}

{% block title %} Residentes/Habitantes {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="row">
    <div class="col-md-10">
        <div class="card card-plain">
            <div class="card-header">
                <h4 class="title">Residentes/Habitantes</h4>
            </div>
            <div class="card-body">
                {% if inhabitant_list %}
                <ul class="">
                    {% for inhabitant in inhabitant_list %}
                    <li>
                        <a href="{{ inhabitant.get_absolute_url }}">
                            <p> {{inhabitant.last_name}}, {{ inhabitant.first_name }}</p>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                {% else %}
                <p>No hay habitantes registrados en la copropiedad.</p>
                {% endif %}
            </div>
            <div class="card-footer">
                <a href="{% url 'adminHome' %}" class="text-primary">Volver</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}