{% extends "layouts/base.html" %}

{% block title %} Parqueaderos {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
    <div class="col-md-10">
        <div class="card card-plain">
            <div class="card-header">
                <h4 class="title">Parqueaderos</h4>
            </div>
            <div class="card-body">
                {% if parkingplace_list %}
                    <h5 class="card-category">
                        Parqueaderos de residentes/habitantes
                    </h5>
                    {% for parkingplace in parkingplace_list %}
                        {% if parkingplace.user_type == 'H' %}
                            <ul class="">
                                <li>
                                    <a href="{{ parkingplace.get_absolute_url }}">
                                        <p>Código: {{ parkingplace.code }}</p>
                                    </a>
                                </li>
                            </ul>
                        {% endif %}
                    {% endfor %}
                    <h5 class="card-category">
                        Parqueaderos de visitantes
                    </h5>
                    {% for parkingplace in parkingplace_list %}
                        {% if parkingplace.user_type == 'V' %}
                            <ul class="">
                                <li>
                                    <a href="{{ parkingplace.get_absolute_url }}">
                                        <p>Código: {{ parkingplace.code }}</p>
                                    </a>
                                </li>
                            </ul>
                        {% endif %}
                    {% endfor %}
                {% else %}
                <p>No hay parqueaderos registrados en la copropiedad.</p>
                {% endif %}
            </div>
            <div class="card-footer">
                <a href="{% url 'adminHome' %}" class="text-primary">Volver</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}