{% extends "adminIndex.html" %}

{% block content %}
<br>
<h1 class="title text-center has-text-info">DETALLE DEL APARTAMENTO</h1>
<br>
<div class="card">
    <div class="card-content ">
        <h3 class="subtitle is-4">Bloque: {{apartment.block}} Apartmento: {{ apartment.apartment }}</h1>
        <h1 class="title">Acciones</h1>
        <h2 class="subtitle">
          Seleccione si modificar o eliminar el parqueadero.
        </h2>
        <div class="d-flex justify-space-around">
            <a class="button is-info  border-radius-12" href="{% url 'modApto' pk=apartment.id %}">Modificar</a>
            <a class="button is-dark is-warning border-radius-12" href="{% url 'delApto' pk=apartment.id %}">Eliminar</a>
        </div>
    </div>
</div>
<!-- <div>
    <h3>Acciones:</h3>
    <ul>
        <li><a href="{% url 'modApto' pk=apartment.id %}">Modificar</a></li>
        <li><a href="{% url 'delApto' pk=apartment.id %}">Eliminar</a></li>
    </ul>
</div> -->
{% endblock %}