{% extends "adminIndex.html" %}

{% block content %}
<br>
<h1 class="title text-center has-text-info">AÑADIR VEHICULO</h1>

<form class="box" action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="field is-grouped">
        <label class="label control">Parqueadero</label>
        <div class="control">
            {{ form.parking_place }}
        </div>
    </div>
    {% if not set_parking_place %}
    <div class="field is-grouped">
        <label class="label control">Propietario</label>
        <div class="control">
            {{ form.owner }}
        </div>
    </div>

    <div class="field is-grouped">
        <label class="label control">Marca del Vehiculo</label>
        <div class="control">
            <input class="input" type="text" name="brand" value="{{ object.brand }}">
        </div>
    </div>

    <div class="field is-grouped">
        <label class="label control">Modelo del Vehiculo</label>
        <div class="control">
            <input class="input" type="text" name="model" value="{{ object.model }}">
        </div>
    </div>

    <div class="field is-grouped">
        <label class="label control">Color</label>
        <div class="control">
            <input class="input" type="text" name="color" value="{{ object.color }}">
        </div>
    </div>

    <div class="field is-grouped">
        <label class="label control">Tipo de Vehiculo</label>
        <div class="control">
            {{ form.type }}
        </div>
    </div>

    <div class="field is-grouped">
        <label class="label control">Peso</label>
        <div class="control">
            <input class="input" type="number" name="weight" value="{{ object.weight }}">
        </div>
    </div>

    <div class="field is-grouped">
        <label class="label control">Número de ejes</label>
        <div class="control">
            <input class="input" type="number" name="axis" value="{{ object.axis }}">
        </div>
    </div>

    <div class="field is-grouped">
        <label class="label control">Placa</label>
        <div class="control">
            <input class="input" type="text" name="plate" value="{{ object.plate }}">
        </div>
    </div>

    <div class="field is-grouped">
        <label class="label control">Foto a Color</label>
        {{ form.picture }}
    </div>

    <div class="field is-grouped">
        <label class="label control">Carta de Propiedad</label>
        {{ form.property_letter }}
    </div>

    <div class="field is-grouped">
        <label class="label control">SOAT</label>
        {{ form.soat }}
    </div>

    <div class="field is-grouped">
        <label class="label control">Fecha de Vencimiento del SOAT</label>
        <div class="control">
            <input class="input" type="date" name="due_date" value="{{ object.due_date|date:'Y-m-d' }}" required>
        </div>
    </div>
    {% endif %}
    <div class="field">
        <div class="control text-center">
            <button class="button is-link"> Guardar</button>
        </div>
    </div>
</form>
{% endblock %}

