{% extends "adminIndex.html" %}

{% block content %}
<br>
<h1 class="title text-center has-text-info">DETALLES DEL BEHICULO</h1>
<br>
<h3 class="subtitle is-4">Vehiculo: {{ inhabitantvehicle.brand }} {{ inhabitantvehicle.model }} {{ inhabitantvehicle.color }} </h1>
<p>Propietario: {{ inhabitantvehicle.owner }}</p>
<div>
    <h3>Acciones:</h3>
    <ul>
        <li><a href="{% url 'modInhabitantVehicle' pk=inhabitantvehicle.id %}">Modificar</a></li>
        <li><a href="{% url 'delInhabitantVehicle' pk=inhabitantvehicle.id %}">Eliminar</a></li>
    </ul>
</div>
{% endblock %}