{% extends "adminIndex.html" %}

{% block content %}
<br>
<h1 class="title text-center has-text-info">ASIGNAR PARQUEADERO A RESIDENTE</h1>
<br>
<h3 class="subtitle is-4">Seleccione un vehiculo:</h3>
{% if inhabitantvehicle_list %}
<ul>
    {% for inhabitantvehicle in inhabitantvehicle_list %}
        {% if action == 'set' %}
            {% if inhabitantvehicle.parking_place is None %}
                <li>
                    <a href="{% url 'vehicleStParkingPlace' pk=inhabitantvehicle.id %}">{{inhabitantvehicle.brand}} 
                        {{inhabitantvehicle.model}}
                        {{inhabitantvehicle.color}}</a> ({{inhabitantvehicle.owner}})
                </li>
            {% else %}
                <p>No hay vehiculos sin parqueadero en la co-propiedad.</p>
            {% endif %}
        {% else %}
            {% if inhabitantvehicle.parking_place is not None %}
            <li>
                <a href="{% url 'vehicleRmParkingPlace' pk=inhabitantvehicle.id %}">{{ inhabitantvehicle.brand }} {{inhabitantvehicle.model}}
                    {{inhabitantvehicle.color}}</a> ({{inhabitantvehicle.owner}})
            </li>
            {% else %}
            <p>No hay vehiculos con parqueadero en la co-propiedad.</p>
            {% endif %}
        {% endif %}
    {% endfor %}
</ul>
{% else %}
<p>No hay vehiculos en la co-propiedad.</p>
{% endif %}
{% endblock %}