{% extends "adminIndex.html" %}

{% block content %}
<br>
<h1 class="title text-center has-text-info">DETALLE DEL PARQUEADERO</h1>
<br>
<h3 class="subtitle is-4">Código: {{ parkingplace.code }} </h1>
<p>Usado por: {% if parkingplace.user_type == 'H' %}Residentes{% else %}Visitantes{% endif %}</p>
<div>
    <h3>Acciones:</h3>
    <ul>
        <li><a href="{% url 'modParkingPlace' pk=parkingplace.id %}">Modificar</a></li>
        <li><a href="{% url 'delParkingPlace' pk=parkingplace.id %}">Eliminar</a></li>
    </ul>
</div>
{% endblock %}